// App Sidebar

.app-sidebar {
  width: 220px;
  height: 100%;

  border-right: 2px solid $color-app-grey-2;

  flex: -1;
}

.app-sidebar-logo {
  font-size: 20px;
  font-weight: bold;

  margin-bottom: 20px;
  padding: 20px 40px;

  letter-spacing: .25em;

  color: $color-app-black;

  @include type-monospace;
}

.app-sidebar-group {
  padding: 20px 40px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.app-sidebar-group header {
  font-size: 12px;
  font-weight: bold;
  font-weight: medium;

  letter-spacing: .1em;

  color: $color-app-grey-4;
}

.app-sidebar-group .row {
	padding: 8px 0;
	&:first-child {
		margin-top: 8px;
	}
	&:last-child {
		margin-bottom: 8px;
	}
}

.app-sidebar-group .icon {

}

.app-sidebar-group a {

}

// Add to Library

.app-sidebar-import {
  @include type-monospace;
  bottom: 0;
  left: 0;
  height: 32px;
  width: 262px;
  position: absolute;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  color: $color-app-grey-4;
  &:hover {
    color: $color-app-black;
  }
}

.app-sidebar-import a {
  position: absolute;
  padding: 0 12px;
  left: 0;
  top: 0;
  &:hover {
    background-color: $color-app-grey-1;
  }
}