// App Body

.app-body {
  width: 100%;
  height: 100%;

  background-color: $color-app-white;

  flex: 1;
}

// Tab Bar
.app-tab-bar {
  display: flex;

  height: 57px;

  border-bottom: 1px solid $color-app-grey-2;
}

.app-tab-bar-tabs {
  padding: 21px 30px;

  flex: -1;
}

.app-tab-bar-tabs a {
  font-size: 14px;
  font-weight: bold;
  font-weight: medium;
  &:not(.active) {
    color: #aaaaaa;
  }
  &:not(:last-child) {
    margin-right: 28px;
  }
  &.active {
  	color: $color-app-black;
  }
  &:hover {
  	cursor: pointer;
  	color: $color-app-black;
  }
}

.app-tab-bar-search {
  font-size: 14px;

  width: 360px;
  height: 36px;
  margin: 10px 30px;
  padding: 11px 15px;

  color: $color-text-grey-7;
  border: 1px solid $color-app-grey-2;

  flex: 1;
}

// List View
.app-list-view {
}