// Variables

// Links

$default-link-color: #000000;
$default-link-visited-color: #333333;
$default-link-hover-color: #333333;

// Colors

$color-app-white: #FFFFFF;
$color-app-grey-0: #FAFAFA;
$color-app-grey-1: #F5F5F5;
$color-app-grey-2: #EFEFEF;
$color-app-grey-3: #AAAAAA;
$color-app-grey-4: #888888;
$color-app-black: #1E1E1E;

$color-text-grey-7: #777777;

// Components
$app-header-height: 48px;