// Variables

// Links

$default-link-color: #000000;
$default-link-visited-color: #333333;
$default-link-hover-color: #333333;

// Colors

$color-app-white: #FFFFFF;
$color-app-grey-1: #F5F5F5;
$color-app-grey-2: #EFEFEF;

// Components
$app-header-height: 48px;