html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

html {
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

html, html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased !important; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

a {
  color: #000000; }

a:visited {
  color: #333333; }

a:hover {
  color: #333333; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

.app-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #EFEFEF;
  background-color: #F5F5F5; }

.app-header-osx-controls {
  padding: 16px 12px; }
  .app-header-osx-controls a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid;
    border: .2px solid;
    border-radius: 12px; }
  .app-header-osx-controls a:not(:last-child) {
    margin-right: 6px; }
  .app-header-osx-controls a:nth-child(1) {
    border-color: #e1453f;
    background-color: #ff6159; }
  .app-header-osx-controls a:nth-child(2) {
    border-color: #dfa023;
    background-color: #ffbe2f; }
  .app-header-osx-controls a:nth-child(3) {
    border-color: #1bac2c;
    background-color: #29c941; }

.app-sidebar {
  width: 220px;
  height: 100%;
  border-right: 2px solid #EFEFEF;
  flex: -1; }

.app-sidebar-logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px 40px;
  letter-spacing: .25em;
  color: #1E1E1E;
  font-family: "source-code-pro", "Source Code Pro", Source Code Pro, monospace !important; }

.app-sidebar-group {
  padding: 20px 40px; }
  .app-sidebar-group:not(:last-child) {
    margin-bottom: 20px; }

.app-sidebar-group header {
  font-size: 12px;
  font-weight: bold;
  font-weight: medium;
  letter-spacing: .1em;
  color: #888888; }

.app-sidebar-group .row {
  padding: 8px 0; }
  .app-sidebar-group .row:first-child {
    margin-top: 8px; }
  .app-sidebar-group .row:last-child {
    margin-bottom: 8px; }

.app-body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  flex: 1; }

.app-tab-bar {
  position: absolute;
  display: flex;
  width: 100%;
  height: 57px;
  border-bottom: 1px solid #EFEFEF;
  background-color: #FFFFFF; }

.app-tab-bar-tabs {
  padding: 21px 30px;
  flex: -1; }

.app-tab-bar-tabs a {
  font-size: 14px;
  font-weight: bold;
  font-weight: medium; }
  .app-tab-bar-tabs a:not(.active) {
    color: #aaaaaa; }
  .app-tab-bar-tabs a:not(:last-child) {
    margin-right: 28px; }
  .app-tab-bar-tabs a.active {
    color: #1E1E1E; }
  .app-tab-bar-tabs a:hover {
    cursor: pointer;
    color: #1E1E1E; }

.app-tab-bar-search {
  font-size: 14px;
  width: 360px;
  height: 36px;
  margin: 10px 30px;
  padding: 11px 15px;
  color: #777777;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  flex: 1; }

.app-list-view {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding-top: 57px;
  background-color: #FFFFFF; }

.app-list-view-header {
  position: absolute;
  display: flex;
  height: 39px;
  width: 100%;
  border-bottom: 1px solid #EFEFEF; }

.app-list-view-filter {
  position: relative;
  flex-grow: 1;
  font-size: 13px;
  height: 32px;
  margin: 3px 0px 3px 0px;
  padding: 10px 12px 9px 12px;
  color: #1E1E1E;
  border-right: 1px solid #EFEFEF;
  cursor: pointer; }
  .app-list-view-filter:last-child {
    border-right: none; }
  .app-list-view-filter:hover {
    background-color: #F5F5F5; }

.app-list-view-filter span {
  color: #AAAAAA;
  display: inline-block;
  position: absolute;
  right: 12px; }

.app-list-view-body {
  padding-top: 39px; }

.app-home main {
  width: 100%;
  height: 100%; }

.app-wrapper {
  display: flex;
  height: 100%;
  padding-top: 48px;
  flex-flow: row wrap;
  justify-content: flex-start; }
